.button__moneybox {
	-moz-box-shadow: 2px 2px 2px -1px white;
	-webkit-box-shadow: 2px 2px 2px -1px white;
	box-shadow: 2px 2px 2px -1px white;
	background-color:#d79df4;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-family: inherit;
	font-size: 1rem;
	font-weight: bold;
	padding: 16px 62px;
	text-decoration: none;

  &::active {
    position: relative;
    top: 1px;
  }
}

.button {
	background-color: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid black;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-family: inherit;
	font-size: 1rem;
	font-weight: bold;
	padding: 16px 62px;
	text-decoration: none;
}

