.button {
	background-color: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid black;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-family: inherit;
	font-size: 1rem;
	font-weight: bold;
	padding: 16px 62px;
	text-decoration: none;

  &:hover { }
  &::active {
    position: relative;
    top: 1px;
  }
}



