@import '../../common/styles.global.css'

@media screen and (max-width: 720px) {
  .responsive { flex-direction: column !important; }
}

.container {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: center;
}

.dark {
  color: var(--light);
}

.light {
  color: var(--dark);
}
