$max-width: 600px;

.bio_container {
  max-width: $max-width;
}

.bio {
  max-width: $max-width;
  flex: 1;
}

.spacer {
  &::after {
    content: '';
    width: 100px;
    height: 3px;
    background: black;
    display: block;
    margin: 1rem auto;
  }
}

.pricing {
  flex: 0.5;
  max-width: $max-width;

  align-self: flex-start;
}
